<div class='retailer-latest-conversion-backfill-widget' data-refreshAfterXSecs="1800" data-last-minutes="10" data-translations="">
    <div class='retailer-latest-conversion-backfill-date' title="{{latestAPIUpdate}}">
        <div>{{latestAPIUpdate}}</div>
    </div>
    <div>
      Data last archived {{latestArchive}}
    </div>


</div>

